[user]
        name = Jessie Hu
        email = jessie.hu.95@icloud.com
[pull]
        rebase = true
[fetch]
        prune = true
[push]
        autoSetupRemote = true
[http]
        proxy = http://localhost:1087
[https]
        proxy = http://localhost:1087

[includeIf "gitdir:~/store/work/"]
        path = .gitconfig-work
