*.DS_Store
emacs/auto-save-list
emacs/eln-cache
emacs/aux
emacs/elpa
emacs/recentf
emacs/places
emacs/transient
emacs/config.el
emacs/custom.el
emacs/config.[!o][!r][!g]
emacs/jess
emacs/elpaca
emacs/projects
emacs/request
emacs/history
